body {
    background-color: black;
    
}
.cont {
    display: flex;
    align-items: center; 
}

h1 {
    color: #333; 
    font-size: 36px; 
    font-weight: bold; 
    text-align: center; 
    margin-bottom: 20px; 
    border: 80px;
}
h4{
    color:#fff;
    text-align: center;
}
h4 a{
    color: white;
}
h2 {
    border-radius: 70px;
    width: 200px;
    height: 40px;
    text-align: center;

    background-color: rgb(240, 27, 255);
    box-shadow: 0 0 5px rgb(134, 5, 101),
    0 0 25px rgb(62, 91, 172), 0 0 50px rgb(28, 102, 133),
    0 0 100px rgb(26, 108, 190) ,0 0 200px cyan;
}
h3{
    color: white;
}
h3:hover{

    color: red;
}
.remove-image {
    animation: removeImageAnimation 0.5s ease-in-out;
}

@keyframes removeImageAnimation {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
        display: none;
    }
}

h1:hover {
    color: #0b0a0a;
    background-color: aqua;
    box-shadow: 0 0 5px cyan,
    0 0 25px rgb(37, 215, 227), 0 0 50px cyan,
    0 0 100px cyan ,0 0 200px cyan;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    border-radius: 5px;
    color: #fff;
    background-color: #3498db;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}


.button:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan ,0 0 200px cyan;
}
.but{
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin: 0;
}

.menu-bar {
    display: flex;
    align-items: center;
    background-color: #060303;
    padding: 10px;
    overflow-x: auto;
    white-space: wrap;
    position: relative;
    width: 800px;
    border-color: #fff;
}

.menu-bar a {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu-bar a:hover {
    background-color: cyan;
    transform: translateY(-5px); 
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan ,0 0 200px cyan;
}

.menu-options {
    display: none;
    flex-direction: row;
    position: fixed; 
    background-color: #0b0a0a;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: slideIn 0.3s ease-in-out;
    width: 500px;
}

.menu-options a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
    margin: 0 5px; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-bottom: 1px solid #555;
}

.menu-options a:last-child {
    border-bottom: none;
}

.menu-options a:hover {
    color: #0b0a0a;
    background-color: cyan;
    transform: translateY(-5px); 
}


@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.text {
    flex: 1;
    padding: 20px;
    color: #fff; 
}


.image {
    flex: 1;
    max-width: 100%;
}


.horizontal-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto; 
    white-space: wrap;
}

.horizontal-list li {
    line-height: px;
    margin-right: 70px;
}

.horizontal-list img {
    display: block;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 1s;
}

.horizontal-list img.active {
    opacity: 1;
}

li {
    float: right;
}

li a {
    display: block;
    color: rgb(247, 247, 247);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

li a:hover {
    background-color: #10aec3;
    border-radius: 60%;
}

p {
    color: white;
}


.image-container {
    position: relative;
    height: 400px;
    width: 800px;
    border-radius: 15px;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    border: 12px solid ;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: block;
}


hr {
    width: 80%;
    border: 4px solid rgb(235, 233, 233);
}

